[Desktop Entry]
Name=ZEN-OS Control Center
Comment=Security, performance, games, software, hardware and KDE settings
Exec=/bin/bash /usr/local/lib/zenos/control-center.sh menu
Icon=zenos-logo
Type=Application
Categories=System;Settings;
Terminal=false
X-KDE-StartupNotify=true
